<div class="container-fluid">
  <div class="row form-group vertical-center" id="education">
    <div class="col-12 col-sm-4">
      <div class="half-width mx-auto thumbnail">
        <img title="Polimi" class="img-fluid" src="assets/img/Politecnico_Milano.png">
      </div>
      <div class="text-center thumbnail-caption">
        <h4>Bachelor's degree </h4>
        <p class="lead">Computer Engineering</p>
        <p class="lead">Politecnico di Milano, 2012</p>
      </div>

    </div>
    <div class="col-12 col-sm-4">
      <div class="half-width mx-auto thumbnail">
        <img title="UFES" class="img-fluid" src="assets/img/UFES_logo.png">
      </div>
      <div class="text-center thumbnail-caption">
        <h4>Exchange period</h4>
        <p class="lead">Universidade Federal do Espirito Santo, 2013</p>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="half-width mx-auto thumbnail">
        <img title="Polimi" class="img-fluid" src="assets/img/Politecnico_Milano.png">
      </div>
      <div class="text-center thumbnail-caption">
        <h4>Master's degree</h4>
        <p class="lead">Computer Engineering</p>
        <p class="lead">Politecnico di Milano, 2015</p>
      </div>
    </div>
  </div>
</div>
