.circle {
  width: 40%;
  height: 0;
  padding-bottom: 40%;
  position: absolute;
  border-radius: 50%;
}



.circle:hover {
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.left .circle {
  top: 10%;
  left: 20%;
  border: 1px solid rgb(180, 160, 87);
  background-color: rgba(180, 160, 87, 0.6);

}

.right .circle {
  right: 20%;
  top: 10%;
  border: 1px solid rgb(177, 46, 36);
  background-color: rgba(177, 46, 36, 0.6);
}



