<div class="factors">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>How I am like</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <span class="label left">Analytical</span>
      </div>
      <div class="col-xs-8">

        <img class="centered img-responsive" src="assets/img/like.png">
      </div>
      <div class="col-xs-2">

        <span class="label right">Creative</span>
      </div>


    </div>
  </div>
</div>
