<div class="factors">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>How I am like</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <p class="label left">Analytical</p>
        <ul class="adjs">
          <li>Chi non fa le cose a caso</li>
          <li>Logical</li>
          <li>Assertive</li>
          <li>Dedicated</li>
        </ul>
      </div>
      <div class="col-xs-6">

        <img class="centered img-responsive" src="assets/img/like.png">
      </div>
      <div class="col-xs-3">

        <p class="label right">Creative</p>
        <ul class="adjs">
          <li>Curious</li>
          <li>Intuitive</li>
          <li>Different</li>
          <li>Friendly</li>
        </ul>
      </div>


    </div>
  </div>
</div>
