.factors {
  height: 650px;
  padding-top: 30px;
  background-color: antiquewhite;
}

.factors .container {
  height: 100%;
  position: relative;
}

.centered {
  display: block;
  margin: 0 auto;
}

.label {
  font-weight: bold;
  font-size: 2em;
  font-variant: all-small-caps;
}

.label.left {

  color: rgb(180, 160, 87);
}


.label.right {

  color: rgb(177, 46, 36);
}

ul.adjs {
  list-style: none;
  padding-left: 0;
  width: 100%;
}
