<div class="chat-container" #chat [scrollTop]="chat.scrollHeight">
  <div class="clearfix">
    <div class="col-12">
      <div class="chat">
        <ul class="chat-body list-group">
          <li *ngFor="let message of chatMessages"
              class="animated fadeIn message-container" [ngClass]="{mine: message.isMine}">
            <p class="message" [innerHTML]="message.message"></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="writing">
    <div class="col-xs-12 col-md-8 offset-md-2 writing">
      Is writing...
    </div>
  </div>

  <div class="row" *ngIf="showAnswer">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <ul class="list-inline choices-container">
        <li class="list-inline-item" *ngFor="let choice of choices">
          <button class="btn btn-sm choice-button" (click)="submitChoice(choice)">{{choice}}</button>
        </li>
      </ul>
      <form (submit)="submitAnswer()"  *ngIf="choices.length == 0">
        <input type="text" class="form-control chat-box"
               name="message" [(ngModel)]="answer"
               required
               placeholder="Please, feel free to express yourself!">
      </form>
    </div>
  </div>
</div>

