.chat ul {
  list-style: none;
  padding-left: 0;
}

.chat ul > li {
  margin-bottom: 5px;
  animation-duration: .3s;
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
}

.message {
  display: inline-block;
  padding: 5px 10px;
  background-color: aliceblue;
  border-radius: 5px 0 5px 0;
  box-shadow: 2px 2px 2px 0 rgba( 178, 178, 178, .4 );
}


.chat-scrolling {
  padding-top: 5%;
}

.chat-stick {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
}

.chat-box {
  text-align: left;
}
