.chat {
  width: 80%;
  margin: 0 auto;
}

.chat-scrolling {
  padding-top: 5%;
}

.chat-stick {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
}

.chat-box {
  text-align: left;
}
