<div class="container"  id="work">
  <h1>Work experience</h1>
  <div class="row">
    <div class="col-4 offset-1">
      <div class="half-width mx-auto thumbnail big-thumbnail">
        <span class="helper"></span>
        <img title="Pic4turtle" class="img-fluid" src="assets/img/pic4turtle.png">
      </div>
    </div>
    <div class="col-4 offset-2">
      <div class="half-width mx-auto thumbnail big-thumbnail">
        <span class="helper"></span>
        <img title="Kuau" class="img-fluid" src="assets/img/kuau.png">
      </div>

    </div>
  </div>
  <div class="row form-group">
    <div class="col-12 col-sm-6">
      <div class="text-center thumbnail-caption">
        <p class="lead">Machine learning developer</p>
        <p class="lead">Full-stack developer</p>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="text-center thumbnail-caption">
        <p class="lead">Technical lead</p>
        <p class="lead">Product manager</p>
        <p class="lead">Full-stack developer</p>
      </div>
    </div>
  </div>
</div>
