<div class="container-fluid vertical-center" id="personality">
  <div style="width: 100%">
    <div class="row form-group">
      <div class="col-12 col-sm-4 offset-sm-2 text-center">
        <div class="mx-auto thumbnail">
          <span class="helper"></span>
          <img title="Analytical" class="img-fluid" src="assets/img/tech.png">
        </div>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <div class="mx-auto thumbnail">
          <span class="helper"></span>
          <img title="Creative" class="img-fluid" src="assets/img/creative.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-4 offset-sm-2 text-center">
        <div class="text-center thumbnail-caption">
          <h4>Analytical </h4>
          <p class="lead">Assertive</p>
          <p class="lead">Dedicated</p>
          <p class="lead">Data-driven</p>
        </div>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <div class="text-center thumbnail-caption">
          <h4>Creative </h4>
          <p class="lead">Curious</p>
          <p class="lead">Intuitive</p>
          <p class="lead">Friendly</p>
        </div>
      </div>
    </div>
  </div>
</div>

