<div class="container-fluid">
  <div class="row form-group vertical-center" id="personality">
    <div class="col-12 col-sm-6 text-center">
      <div class="half-width mx-auto thumbnail big-thumbnail">
        <span class="helper"></span>
        <img title="Analytical" class="img-fluid" src="assets/img/tech.png">
      </div>
      <div class="text-center thumbnail-caption">
        <h4>Analytical </h4>
        <p class="lead">Assertive</p>
        <p class="lead">Dedicated</p>
        <p class="lead">Data-driven</p>
      </div>

    </div>
    <div class="col-12 col-sm-6 text-center">
      <div class="half-width mx-auto thumbnail big-thumbnail">
        <span class="helper"></span>
        <img title="Creative" class="img-fluid" src="assets/img/creative.png">
      </div>
      <div class="text-center thumbnail-caption">
        <h4>Creative </h4>
        <p class="lead">Curious</p>
        <p class="lead">Intuitive</p>
        <p class="lead">Friendly</p>
      </div>
    </div>

  </div>
</div>
