#storyPath {
  fill: none;
  fill-rule:evenodd;
  stroke:#000000;
  stroke-width:19.20000076;
  stroke-linecap:butt;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray: 5710;
  animation: dash 13s linear forwards;
  stroke-dashoffset: 5710;
}

.hidden {
  visibility: hidden;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
